<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724306212346-bjh7l8dhc91nq0c1p2t2c91sqip5i8h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724306212346-bjh7l8dhc91nq0c1p2t2c91sqip5i8h2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>724306212346-3fd5g7sfa9j5pivug89ston99i1e1f9h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYP522nIsvVb2tId1zIvMafkcKI3KXEgA</string>
	<key>GCM_SENDER_ID</key>
	<string>724306212346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soulpocketcoach.app.toheedapps</string>
	<key>PROJECT_ID</key>
	<string>your-pocket-soul-coach</string>
	<key>STORAGE_BUCKET</key>
	<string>your-pocket-soul-coach.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724306212346:ios:e28a91f6eb70a89795a043</string>
</dict>
</plist>